BOOST_INCLUDE_DIR       = /usr/include
BOOST_LIB_DIR           = /usr/lib
CGAL_INCLUDE_DIR        = /usr/include
CGAL_LIB_DIR            = /usr/lib
TNT_INCLUDE_DIR         = /usr/include/tnt
JAMA_INCLUDE_DIR        = /usr/include/jama
LIBARCHIVE_INCLUDE_DIR  = /usr/include
LIBARCHIVE_LIB_DIR      = /usr/lib
QWT_INCLUDE_DIR         = /usr/include/qwt-qt4
QWT_LIB_DIR             = /usr/lib
QWTPLOT3D_INCLUDE_DIR   = /usr/include/qwtplot3d-qt4
QWTPLOT3D_LIB_DIR       = /usr/lib
QTMMLWIDGET_INCLUDE_DIR = /usr/local/include
QTMMLWIDGET_LIB_DIR     = /usr/local/lib

